[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
python-dotenv = "*"
mimesis = "*"
click = "*"

[packages]
edgedb = "*"
attrs = "*"
quart = "*"
ipython = "*"
mimesis = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
